<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Digital Library{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/icon.png') }}" alt="Library Icon" class="header-icon">
                <span class="header-title">Digital Library</span>
            </div>
            <div>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('main.index') }}">Home</a></li>
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('books.book_list') }}">Book List</a></li>
                            <li><a href="{{ url_for('books.add_book') }}">Add Book</a></li>
                            <li><a href="{{ url_for('auth.profile') }}">Profile</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                            <li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
                            <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="search-container">
                    <input type="text" placeholder="Search">
                    <button type="submit">Search</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flashes">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Follow Us: 
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </p>
    </footer>
</body>
</html>